h5 Search
.row
    .col-md-8
        .form-group.form-group-default
            label UserId / UserName           
            input#id.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='videos.searchByUserId($("#id").val())') Search


h5 Test Queries
ul
    li
        a(href="#" onClick='videos.searchByUserId(628)') Video1
    li
        a(href="#" onClick='videos.searchByUserId(101193)') Video2 
    li
        a(href="#" onClick='videos.searchByUserId(251580)') Video3 
    li
        a(href="#" onClick='videos.searchByUserId(4280938)') Video4